###  REPLACE with appropriate compose variables for the correct environment
####
DOCKER_FILE=./Dockerfile
DOCKER_IMAGE=sgmo/mint_scripts
BRANCH=main
# #
CONTAINER_NAME=mint_env_docker
# # set for local conditions
CPUS=8
# # set for local conditions
APP_MEM=40G
##
#DATA_INTERNAL_PATH:/data
#DATA_EXTERNAL_PATH:/data
BOWTIE_INDEX_PATH:/path/to/local/bowtie2/directory:ro
BOWTIE_INDEX:hg38
# # BOWTIE_INDEX is the path to the directory containing the .bt2 files for the index and index name
# # you probably want your index file directory to be read only!
# # internally, this will be mounted to /seqdb/bowtie2:ro
FASTQ_READ_PATH:/path/to/local/fastq_for/pipelining/
ALIGNMENT_OUTPUT_PATH:/path/to/local/output/pipelining/
FIGURE_SCRIPTS_INPATH:/path/to/local/source/data/for/figuremaking
FIGURE_SCRIPTS_OUTPATH:/path/to/local/output/for/figures
# # FASTQ_READ_PATH is the path to the directory containing the
# # internally, this will be mounted to /fastq_reads/trimmed_fastq
LOG_MOUNT=/path/to/local/log_location
HOST_UID=
# # look the UID up with the "id -u " command.  It's going to be a number
HOST_GID=
#  # look the UID up with the "id -g " command.  It's going to be a number
#NETWORK_NAME=host  # if you include this, you're just using the
# host computer's network.  Probably don't want to do this.
